/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF; 
    color: #434455;
/* Default values */
/* font-size: 16px;
font-weight: 400;
font-stile; normal; */
}
ul,ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    
}
/* Reset stiles */
/* Common styles */
button {
    cursor: pointer;
}
.team-title, 
.portfolio-subject {
    text-align: center;
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}
.skills-title,
.team-name,
.portfolio-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
color: #2E2F42;
}
.skills-text,
.team-text,
.portfolio-text {
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

/* Header section */
.header {
}
.header-nav {   
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-dark {
    color: #2E2F42;
}
.header-list {

}
.header-item {
}
.header-link {
    color: #2E2F42;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
/* Address */
.contacts {
    font-style: normal; 
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
    color: currentColor;
    line-height: 1.5; 
    letter-spacing: 0.32px;  
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF; 
}

/* Hero section */
.hero {
    background: #2E2F42;
}
.subject {
    color: #FFFFFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
}
.button {
    background-color: #4D5AE5;
/* Button Text */
color: #FFFFFF;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em; 
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* Skills section */
.skills {
}
.skills-list {
}
.skills-item {
}
.skills-title {

}
.skills-text {

}

/* Team section */
.team {
    background-color: #F4F4FD; 
}
.team-title {
}
.team-list {
}
.team-item {
    background-color: #FFFFFF;
}
.team-pic {
}
.team-name {
}
.team-text {
}

/* Portfolio section */
.portfolio {
}
.portfolio-subject {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-pic {
}
.portfolio-title {
}
.portfolio-text {
}

/*Footer section*/
.footer {
    background: #2E2F42;
}
.logo {
}
.logo-light {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}